/Utils.class
/Data.class
/FlagManager$Flag.class
/FlagManager.class
/GUIUtils$1.class
/GUIUtils$2.class
/GUIUtils$3.class
/GUIUtils$4.class
/GUIUtils$5.class
/GUIUtils$6.class
/GUIUtils.class
/GenericFile.class
/OpenedFile.class
/Settings.class
/DebugStrings.class
