/CockpitLogManager.class
/MenuStringManager.class
/WonderSpotManager$WonderSpot.class
/WonderSpotManager.class
/AnimalManager.class
/AnimalManager$AnimalEntry.class
/JewelBookManager.class
/JewelBookManager$AnimalEntry.class
/JewelBookManager$JewelEntry.class
