/GenericPopupWindow.class
/NewBodyGUI.class
/NewFaceGUI.class
/NewIndexWindow.class
/NewItemPopup.class
/NewJobChangePriceWindow.class
/NewJoinWindow.class
/NewMobGroupTypeWindow.class
/NewMobObjectWindow.class
/NewMobRandomAreaWindow.class
/RetypeJobWindow.class
